.menu-toggle {
  position: absolute;
  left: 20px;
  top: 30px;
  cursor: pointer;
  z-index: 2;
  display: none;
}

.menu-active {
  opacity: 0;
  transition: 0.3s;
}

svg:hover {
  transform: rotate(360deg);
  transition: 0.5s all;
}

nav {
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  background: #000;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  color: transparent;
  text-shadow: 0 0 5px #fff;
  transition: 0.5s all;
}
nav .nav-link {
  font-weight: 300;
  font-size: 1.4rem;
}
nav .nav-logo {
  font-family: "Perpetua";
  letter-spacing: 0.2rem;
  font-size: 2rem;
}

@media (max-width: 970px) {
  nav .nav-link {
    font-size: 1.2rem;
  }
  nav .nav-logo {
    font-size: 1.8rem;
  }
}
@media (max-width: 840px) {
  nav .nav-link {
    font-size: 1.1rem;
  }
  nav .nav-logo {
    font-size: 1.7rem;
  }
}
@media (max-width: 760px) {
  .menu-toggle {
    display: inline;
  }

  nav {
    position: absolute;
  }
  nav ul {
    flex-direction: column;
  }
  nav .nav-logo {
    order: -1;
    font-size: 1.6rem;
  }
  nav .nav-link {
    display: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  .active {
    display: inline !important;
  }
}
@media (max-width: 325px) {
  nav .nav-link {
    font-size: 1rem;
  }
  nav .nav-logo {
    font-size: 1.5rem;
  }
}
#hero {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../img/london-hero.jpg") no-repeat 25% 50%;
  background-size: cover;
}
#hero h1 {
  margin: 60px 0;
  padding: 50px 20px;
  width: 75%;
  font-family: "Perpetua";
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
}

@media (max-width: 970px) {
  #hero h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 840px) {
  #hero {
    min-height: 476px;
    height: auto;
  }
  #hero h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    padding: 30px 20px;
  }
}
@media (max-width: 320px) {
  #hero h1 {
    font-size: 1.5rem;
    top: 40%;
  }
}
button, #submit-button {
  width: 200px;
  height: 56px;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
button:hover, #submit-button:hover {
  color: transparent;
  text-shadow: 0 0 5px #fff;
  transition: 0.5s all;
}
button a, #submit-button a {
  text-decoration: none;
  color: #fff;
}
button a:hover, #submit-button a:hover {
  color: transparent;
  text-shadow: 0 0 5px #fff;
  transition: 0.5s all;
}

@media (max-width: 840px) {
  button {
    font-size: 1.2rem;
    height: 45px;
    width: 160px;
  }
}
#section {
  display: flex;
}
#section .section-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section .section-text-wrapper {
  width: 80%;
  margin: 50px 0;
}
#section .section-image {
  width: 50%;
}

@media (max-width: 1170px) {
  #section .section-text h2 {
    font-size: 1.8rem;
  }
  #section .section-text p {
    font-size: 1.1rem;
  }
}
@media (max-width: 760px) {
  #section {
    flex-direction: column;
  }
  #section .section-image {
    height: 200px;
    width: 100%;
  }
  #section #reverse-order-on-mobile {
    order: -1;
  }
  #section .section-text {
    width: 100%;
  }
  #section .section-text-wrapper {
    margin: 30px 0;
  }
}
@media (max-width: 400px) {
  #section .section-image {
    height: 100px;
  }
}
#testimonial {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#testimonial h2 {
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}
#testimonial h3 {
  font-weight: 300;
  letter-spacing: 0.2rem;
}

#testimonial-text {
  width: 20%;
  text-align: center;
}

@media (max-width: 1200px) {
  #testimonial h2 {
    font-size: 1rem;
  }
  #testimonial h3 {
    font-size: 1rem;
  }
}
@media (max-width: 760px) {
  #testimonial {
    flex-direction: column;
  }
  #testimonial h2 {
    display: inline;
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
  #testimonial h3 {
    display: inline;
    letter-spacing: 0.1rem;
    margin: 0;
  }

  #testimonial-text {
    width: 100%;
  }
}
@media (max-width: 400px) {
  #testimonial {
    height: 125px;
  }
}
.tour-container {
  width: 30%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.tour-container .tour-image {
  width: 100%;
  margin-bottom: 20px;
  height: 300px;
}

@media (max-width: 810px) {
  .tour-container {
    width: 100%;
  }
  .tour-container .tour-image {
    height: 200px;
  }
}
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
  animation-name: modalFadeIn;
  animation-duration: 0.2s;
}

.modal-content {
  background-color: #000;
  margin: 10% auto;
  padding: 70px 50px;
  border: 1px solid #fff;
  width: 430px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}
.modal-content .modal-content-inner {
  display: flex;
  flex-direction: column;
}
.modal-content .modal-content-inner .modal-content-buttons {
  margin: 20px 0;
}
.modal-content .modal-content-inner .modal-content-buttons .increment-button, .modal-content .modal-content-inner .modal-content-buttons #count {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0;
  text-align: center;
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: transparent;
  text-shadow: 0 0 5px #fff;
  transition: 0.5s all;
  cursor: pointer;
}

input {
  padding: 10px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  background: #000;
  color: #fff;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 810px) {
  .modal-content {
    width: 90%;
  }
}
.faq-text {
  margin-top: 50px;
  height: auto;
  width: 100%;
}

@media (max-width: 810px) {
  .faq-text {
    margin: 0;
  }
}
@media (max-width: 760px) {
  .faq-text {
    margin-top: 50px;
  }
}
.social-container {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

a#social-twitter {
  background: url("../img/twitter.svg") no-repeat;
  background-size: cover;
  filter: invert(100%);
}

a#social-facebook {
  background: url("../img/facebook.svg") no-repeat;
  background-size: cover;
  filter: invert(100%);
}

a#social-instagram {
  background: url("../img/instagram.svg") no-repeat;
  background-size: cover;
  filter: invert(100%);
}

a#social-youtube {
  background: url("../img/youtube.svg") no-repeat;
  background-size: cover;
  filter: invert(100%);
}

#footer {
  padding: 50px 0 20px 0;
}
#footer p {
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

@media (max-width: 760px) {
  #footer p {
    font-size: 1rem;
  }
}
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
  background: #000;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.content-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 70px;
}

.content-text, .content-image {
  width: 45%;
  height: 70%;
  margin: 50px 0;
}

h1 {
  font-weight: 400;
  font-size: 1.8rem;
}

h2 {
  font-family: "Perpetua";
  font-size: 2rem;
  letter-spacing: 0.15rem;
  font-weight: 300;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  margin: 0;
}

p, li {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}

@media (max-width: 810px) {
  .content-container {
    flex-direction: column;
    padding: 70px 40px 0 40px;
    justify-content: initial;
  }

  .content-text, .content-image {
    width: 100%;
  }

  .content-text {
    height: auto;
  }

  .content-image {
    margin: 0;
  }

  .hide-on-mobile {
    display: none !important;
  }

  h1, h2 {
    font-size: 1.6rem;
  }

  p, li {
    font-size: 1.1rem;
  }
}
#about-image {
  background: url("../img/about-image.jpg") no-repeat 50% 50%;
  background-size: cover;
  height: 400px;
}

#contact-map {
  background: url("../img/contact-map.png") no-repeat 50% 50%;
  background-size: contain;
  height: 500px;
}

#tube-tour-img {
  background: url("../img/underground_sign.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#sherlock-tour-img {
  background: url("../img/sherlock_statue.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#halloween-tour-img {
  background: url("../img/halloween_cat.jpg") no-repeat 50% 35%;
  background-size: cover;
}

/*# sourceMappingURL=main.css.map */
