.faq-text {
    margin-top: 50px;
    height: auto;
    width: 100%;
}

@media (max-width: 810px) {
    .faq-text {
        margin: 0;
    }
}

@media (max-width: 760px) {
    .faq-text {
        margin-top: 50px;
    }
}