#footer {
    #social {
        margin: 20px auto;
        height: 50px;
        width: 60%;
        display: flex;
        justify-content: space-evenly;

        a {
            height: 50px;
            width: 50px;
        }

        a#social-twitter {
            background: url('../img/twitter.svg') no-repeat;
            background-size: cover;
            filter: invert(100%);
        }

        a#social-facebook {
            background: url('../img/facebook.svg') no-repeat;
            background-size: cover;
            filter: invert(100%);
        }

        a#social-instagram {
            background: url('../img/instagram.svg') no-repeat;
            background-size: cover;
            filter: invert(100%);
        }

        a#social-youtube {
            background: url('../img/youtube.svg') no-repeat;
            background-size: cover;
            filter: invert(100%);
        }
    }

    p {
        letter-spacing: 0.1rem;
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
        margin: 0 0 10px 0;
    }
}

@media (max-width: 760px) {
    #footer {
        p {
            font-size: 1rem;
        }

        #social {
            width: auto;
            height: 30px;

            a {
                height: 30px;
                width: 30px;

                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
}