#hero {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../img/london-hero.jpg') no-repeat 25% 50%;
    background-size: cover;

    h1 {
        margin: 60px 0;
        padding: 50px 20px;
        width: 75%;
        font-family: 'Perpetua';
        font-weight: 300;
        font-size: 3rem;
        letter-spacing: 0.3rem;
        text-align: center;
        background: rgba(0,0,0,0.5);
        border: 1px solid #fff;
    }
}

@media (max-width: 970px) {
    #hero {
        h1 {
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 840px) {
    #hero {
        min-height: 476px;
        height: auto;

        h1 {
            font-size: 2rem;
            letter-spacing: 0.2rem;
            padding: 30px 20px;
        }
    }
}

@media (max-width: 320px) {
    #hero {
        h1 {
            font-size: 1.5rem;
            top: 40%;
        }
    }
}