.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    animation-name: modalFadeIn;
    animation-duration: 0.2s;
  }
  
  .modal-content {
    background-color: #000;
    margin: 15% auto;
    padding: 70px 50px;
    border: 1px solid #fff;
    width: 60%;

    .modal-content-inner {
        display: flex;

        .modal-content-info, .modal-content-input {
            width: 50%;
        }

        .modal-content-input {
          .modal-content-buttons {
            .increment-button, #count {
              display: inline-block;
              height: 40px;
              width: 40px;
              margin: 0;
              text-align: center;
          }
        }
      }
    }
  }
  
  .close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: transparent;
    text-shadow: 0 0 5px #fff;
    transition: 0.5s all;
    cursor: pointer;
  }

  input {
    padding: 10px;
    margin: 0 auto;
    height: 20px;
    cursor: pointer;
    background: #000;
    color: #fff;
}

  @keyframes modalFadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }

  @media (max-width: 810px) {
    .modal-content {
      .modal-content-inner {
        flex-direction: column;

        .modal-content-info, .modal-content-input {
          width: 100%;
        }
      }
    }
  }