@import 'nav';
@import 'hero';
@import 'button';
@import 'section';
@import 'testimonial';
@import 'tours';
@import 'modal';
@import 'flatpickr-calendar';
@import 'faq';
@import 'contact';
@import 'footer';

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    background: #000;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.content-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 70px;
} 

.content-text, .content-image {
    width: 45%;
    height: 70%;
    margin: 50px 0;
}

h1 {
    font-weight: 400;
    font-size: 1.8rem;
}

h2 {
    font-family: 'Perpetua';
    font-size: 2rem;
    letter-spacing: 0.15rem;
    font-weight: 300;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin: 0;
}

p, li {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
}

@media (max-width: 810px) {
    .content-container {
        flex-direction: column;
        padding: 70px 40px 0 40px;
        justify-content: initial;
    }

    .content-text, .content-image {
        width: 100%;
    }

    .content-text {
        height: auto;
    }

    .content-image {
        margin: 0;
    }

    .hide-on-mobile {
        display: none !important;
    }

    h1, h2 {
        font-size: 1.6rem;
    }

    p, li {
        font-size: 1.1rem;
    }
}

// Images
#about-image {
    background: url('../img/about-image.jpg') no-repeat 50% 50%;
    background-size: cover;
    height: 400px;
}

#contact-map {
    background: url('../img/contact-map.png') no-repeat 50% 50%;
    background-size: contain;
    height: 500px;
}

#tube-tour-img {
    background: url('../img/underground_sign.jpg') no-repeat 50% 50%;
    background-size: cover;
}

#sherlock-tour-img {
    background: url('../img/sherlock_statue.jpg') no-repeat 50% 50%;
    background-size: cover;
}

#halloween-tour-img {
    background: url('../img/halloween_cat.jpg') no-repeat 50% 35%;
    background-size: cover;
}

